main{
    align-items: center;
    justify-content: center;
}

.aboutWrapper{
    flex: 0 1 800px;
    gap: 60px;
    padding: 15px;
    padding-top: 60px;
}

#aboutText{
    flex: 0 1 500px;
    padding: 5px 15px;
}

#aboutText h1{
    margin: 0;
    border-bottom: 10px solid white;
}

.bulleted::before{
    content: '';
    display: inline-block;
    background-image: url('../assets/pixels/whiterose.webp');
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 5px;
}

#briarRose{
    width: 25%;
    height: auto;
}

@media (orientation: portrait) {}

@media screen and (max-width: 900px) {
    .flex{
        flex-flow: column nowrap;
    }
    main{
        align-items: unset;
        justify-content: unset;
    }
    .aboutWrapper{
        gap: 20px;
    }
    #briarRose{
        width: 50%;
        align-self: center;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 540px) {}

@media screen and (max-width: 425px) {} 