
main{
    margin: 0 auto;
    width: 50vw;
    text-align: center;
}

#pinkspace{
    color: #ff90e3;
}
#pinkspace:hover{
    color: #ff0080;
}

@media (orientation: portrait) {
    main{
        width: auto;
    }
  }